.footer {
  position: absolute;
  bottom: 0;
  color: #fff;
  width: 100%;
  height: 100px;
  text-align: center;
  line-height: 100px;
}

.tudoFooter {
  min-width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  position: absolute;
  bottom: 0;
}

.maeFooter {
  display: flex;
  justify-content: space-between;
}

.logoFooter {
  width: 4.5em;
  height: 4.5em;
  margin-left: 1.2em;
}

.iconsFooter {
  display: flex;
  color: black;
  width: 32%;
  justify-content: space-around;
  font-size: 1em;
  margin-right: 1.2em !important;
}

.iconsFooter1 {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: space-between;
}

.iconsFooter2 {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: space-around;
  margin-right: -10px;
}

.insta {
  display: flex;
  align-items: center;
  color: black;
  width: 103%;
}

.insta:hover {
  color: black;
}

.face {
  display: flex;
  align-items: center;
  width: 102%;
  color: black;
}

.face:hover {
  color: black;
}

.wpp {
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 103%;
  margin-right: 0.5em;
  color: black;
}

.wpp:hover {
  color: black;
}

.emailFooter {
  display: flex;
  align-items: center;
  width: 102%;
  color: black;
}

.emailFooter:hover {
  color: black;
}

.footerLetters {
  font-size: 1em;
}

.footersIcons {
  margin-top: 0.3em;
}

.footersIcons2 {
  margin-top: 0.3em;
  font-size: 1.1rem;
}

@media screen and (max-width: 730px) {
  .maeFooter {
    display: grid;
    min-width: 100%;
  }

  .logoFooter {
    width: 4.5em;
    height: 4.5em;
    margin-left: 0.4rem;
  }

  .iconsFooter {
    display: inline-grid;
    align-items: center;
    width: 20%;
    color: black;
    font-size: 1.7em;
    grid-template-columns: 1fr 1fr;
    grid-column-gap: 5px;
    margin-right: 1em;
  }

  .iconsFooter1 {
    align-items: center;
    font-size: 1.1em;
    flex-direction: row;
    margin-right: 3px;
    justify-items: flex-end;
  }

  .iconsFooter2 {
    align-items: center;
    flex-direction: row;
    justify-items: flex-start;
    margin-right: 0px;
  }

  .footerLetters {
    display: none;
  }

  .insta {
    color: black;
    margin-right: 3px;
  }

  .face {
    display: flex;
    align-items: center;
    width: 102%;
    color: black;
    font-size: 0.8em;
  }

  .emailFooter {
    font-size: 1.1em;
    margin-left: -2px;
  }

  .wpp {
    font-size: 0.95em;
    margin-right: 8px;
  }

  .footersIcons2 {
    margin-top: 0.3em;
    font-size: 0.88em;
    margin-right: 3px;
  }
}
