.vaga {
  margin: 2em;
  padding: 1em;
  border-style: groove;
}

.descricao-beneficios {
  display: flex;
  flex-wrap: wrap;
  width: 100em;
}

.descricao {
  box-sizing: border-box;
  padding: 1em;
  margin: 1em;
  width: 50em;
}

.beneficios {
  box-sizing: border-box;
  padding: 1rem;
  margin: 1rem;
  width: 40em;
}

.linhaBeneficios {
  display: flex;
  flex-wrap: wrap;
  width: 100em;
}

.icones {
  box-sizing: border-box;
  padding: 0.2rem;
  margin: 0.2rem;
  width: 2em;
}

.valorBeneficio {
  box-sizing: border-box;
  padding-top: 0.65em;
  width: 40em;
}

.titulo {
  margin-bottom: 0em;
}

.emailFooter {
  width: 15em;
}

.modal {
  width: 100%;
  height: 100vh;
  position: absolute;
  top: 0;
  left: 0;

  z-index: 10;
  background-color: rgba(0, 0, 0, 0.8);
  display: flex;
  justify-content: center;
  align-items: center;
}

.conteiner_modal {
  background-color: #fff;
  color: #000;
  width: 70%;
  height: 60%;
}

.close {
  background-color: rgba(71, 156, 236, 0.8);
  border: none;
  outline: none;
  width: 23px;
  height: 22px;
  right: calc(-100% + 64px);
  cursor: pointer;
  display: flex;
  position: relative;
  align-items: center;
  border-radius: 30%;
}
